
<!-- 
<ul *ngFor = "let todo of todos">
   <li>{{todo.slno}} - {{todo.title}} - {{todo.desc}} </li>

   <li>{{todo.slno}} </li>
   <li>{{todo.title}} </li>
   <p>{{todo.desc}} </p>
</ul> -->


<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo><br>
<h2 class="text-danger">THIS IS MY TODOS LIST:--</h2>
<div class="alert alert-primary" role="alert">
     By clicking on delete your ToDo item will be deleted!
</div>

<div *ngIf="this.todos.length===0; else elseblock">
      No ToDos to display :(
</div>
<ng-template #elseblock>

<div *ngFor = "let todo of todos">
      <app-todo-item [todo] = "todo" (todoDelete) = "deleteTodo($event)" ></app-todo-item>    
</div>
</ng-template>
